body {
  	background-color: #eee;
  	padding: 1em 2em;
}

.MastHead {
	margin: 0 4em;
	padding: 1em;
  	background-color: #fff;	
  	min-height: 3em;
}

.ContentArea {
	margin-left: 4em;
	margin-right: 4em;
	padding-bottom: 1em;
  	background-color: #fff;
}

.contentview {
}

.left {
	margin-left: 4em;
	float: left;
}

.palette {
	padding:0.25em;
	float: left;
	border: 1px solid navy;
	margin: 1em;
}

.hidden {
	visibility: hidden;
	display: none;
}

.clear {
	float: none;
	clear: both;	
}

.cmyk {
	width: 30px; 
	height:30px;
	display: inline-block;
	border: 1px solid black;
}

.inline {
	display:inline-block;
	height:30px;
	margin: auto;
}

.inline > input {
	padding:0px;
	line-height:20px;
	float:left;
}

.scale-element, .scale-element-header {
	width: 60px;
	height: 30px;
	display: inline-block;
	margin: 3px 0;
	border: 1px solid black;
}

.scale-element-header {
	height: 1em;
	border: none;
}

.scale-element-header > div {
	margin: auto;
	font-weight: bold;
	width: 2em;
	text-align: right;
	font-weight: bold;
}

.scale-element:hover {
	cursor: pointer;
}

fieldset {
	margin: 0.3em 2em 0em 2em;
}

dl {
	margin: 1em 5em;
}
dt {
	margin-top:0.5em;
	margin-bottom:0.25em;
	font-size: 14pt;
	font-weight: bold;
}


.mixes > .content {
	margin: 0.3em 2em 0em 2em;
	padding: 1em 1em;
	background-color: lightgray;
}

.mix_instructions > fieldset {
	margin: 0.3em 2em 1em 2em;
	padding: 1em 1em;
}

.mix_instructions > fieldset pre {
	font-size: 11pt;
}
	
.current {
	border: 2px inset gray;	
}